@model lossAnalytics.Models.MealType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MealType</title>
</head>
<body>
    <div>
        <form method="post">
            <label>Name</label><input id="NameId" type="text" name="Name" />
            <label>Order</label><input id="OrderId" type="text" name="Order" />
            <input id="Submit1" type="submit" value="submit" />
        </form>
    
    </div>
</body>
</html>
